<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_3team.dao.SaleOrderDao">
	<resultMap type="SaleOrder" id="SaleOrderResult">
		<id property="ordNo" column="ord_no"/>
		<result property="ordQuantity" column="ord_quantity"/>
		<result property="ordSupplyPrice" column="ord_supply_price"/>
		<result property="ordSellPrice" column="ord_sell_price"/>
		<result property="ordTax" column="ord_tax"/>
		<result property="ordSellProfit" column="ord_sell_profit"/>
		<result property="ordPayment" column="ord_payment"/>
		<result property="ordDatetime" column="ord_datetime"/>
	</resultMap>
	
	<resultMap type="SaleOrder" id="SaleOrderWithAllResult" extends="SaleOrderResult">
		<result property="user.userNo" column="u_no" />
		<result property="user.userId" column="u_id" />
		<result property="user.name" column="u_name" />
		<result property="software.swNo" column="sw_no" />
		<result property="software.swName" column="sw_name" />
		<result property="admin.adminNo" column="adm_no" />
		<result property="admin.adminId" column="adm_id" />
		<result property="admin.adminName" column="adm_name" />
	</resultMap>
	
	<resultMap type="SaleOrder" id="SaleOrderwithUserSgSoftwareAdminResult" extends="SaleOrderResult">
		<result property="user.userNo" column="u_no" />
		<result property="user.userId" column="u_id" />
		<result property="user.name" column="u_name" />
		<result property="softwaregroup.sgNo" column="sg_no"/>
		<result property="softwaregroup.sgName" column="sg_name"/>
		<result property="software.swNo" column="sw_no" />
		<result property="software.swName" column="sw_name" />
		<result property="admin.adminNo" column="adm_no" />
		<result property="admin.adminId" column="adm_id" />
		<result property="admin.adminName" column="adm_name" />
	
	</resultMap>
	
	<!-- resultMap type="SaleOrder" id="SaleOrderWithAllResult" extends="SaleOrderResult">
		<result property="user.userNo" column="u_no" />
		<result property="software.swNo" column="sw_no" />
		<result property="admin.adminNo" column="adm_no" />
	</resultMap -->
	
	<sql id="saleOrderSql">
	select ord_no, u_no, sw_no, ord_quantity, ord_supply_price, ord_sell_price, ord_tax, ord_sell_profit, ord_payment, ord_datetime, adm_no
	from sale_order
	</sql>
	
	
	<sql id="saleOrderAllSql">
	select * from sale_order as so 
	join software as sp on so.sw_no=sp.sw_no
	join admin as ad on so.adm_no=ad.adm_no
	join user as us on so.u_no=us.u_no
	join software_group as sg on sp.sg_no=sg.sg_no

	</sql>
	<sql id="whereSql">
		<where>
			<if test="ordNo != null">
				ord_no = #{ordNo}
			</if>
		</where>
	</sql>
	
	<!-- 주문 관리 -->
	<sql id="selectOMSql">
		select ord_no, ord_datetime, sg.sg_name,  sw.sw_no, ss.sw_name, ord_quantity, sw.u_no, us.u_name,
		ord_payment,sw.adm_no, ad.adm_name, us.u_name
		from sale_order sw join `user` us on sw.u_no = us.u_no join software ss on sw.sw_no=ss.sw_no join admin ad on sw.adm_no=ad.adm_no
		join software_group sg on sg.sg_no=ss.sg_no
	</sql>
	
	<sql id="whereOMSql">
		<if test="sg.sg_name != null">
		<where>
			sg.sg_name=#{softwaregroup.sgName} and ad.adm_name=#{admin.adminName} and sw.ord_datetime between #{ord_datetime} and #{ord_datetime}
		</where>
		</if>
		
		<if test="us.u_name != null">
			<where>
				us.u_name=#{user.name} and ad.adm_name=#{admin.adminName} and sw.ord_datetime between #{ord_datetime} and #{ord_datetime}
			</where>
		</if>
	</sql>
	
	
	
	<!-- 전체 검색 -->
	<select id="selectOrderManagementByAll" parameterType="SaleOrder" resultMap="SaleOrderwithUserSgSoftwareAdminResult">
		<include refid="selectOMSql"/>
	</select>
	
	<!-- 부분 검색 -->
	<select id="selectOrderManagementByNo" parameterType="SaleOrder" resultMap="SaleOrderwithUserSgSoftwareAdminResult">
		<include refid="selectOMSql"/>
		<include refid="whereOMSql"/>
	</select>
	
	
	<!-- 주문관리  -->
	
	
	
	<select id="selectSaleOrderByNo" parameterType="SaleOrder" resultMap="SaleOrderWithAllResult">
		<include refid="saleOrderAllSql"/>
		<include refid="whereSql"/>
	</select>
	
	<select id="selectSaleOrderWithAllByNo" parameterType="SaleOrder" resultMap="SaleOrderWithAllResult">
		<include refid="saleOrderAllSql"/>
		<include refid="whereSql"/>
	</select>

</mapper>