<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_3team.dao.SoftwareDao">
	<resultMap type="Software" id="SoftwareBasedResult">
		<id property="swNo" column="sw_no"/>
		<result property="swName" column="sw_name"/>
		<result property="swSupplyPrice" column="sw_supply_price"/>
		<result property="swSellPrice" column="sw_sell_price"/>
		<result property="swQuantity" column="sw_quantity"/>
	</resultMap>
	
	<resultMap type="Software" id="SoftwarewithGroupResult" extends="SoftwareBasedResult">
		<result property="swGroup.sgNo" column="sg_no"/>
		<result property="swGroup.sgName" column="sg_name"/>
	</resultMap>
	
	<resultMap type="Software" id="SoftwarewithUserResult" extends="SoftwarewithGroupResult">
		<result property="userNo.userNo" column="pc_no"/>
		<result property="userNo.name" column="u_name" />
		<result property="userNo.userGroup" column="u_group" />
	</resultMap>
	
	<!-- software기본 정보 -->
	<sql id="selectSql">
		select sw_no,sg_no, sw_name, sw_supply_price, sw_sell_price, sw_quantity,pc_no from software
	</sql>
	
	<sql id="selectWithGroupwithUserSql">
		select sw_no, sw_name, sw_supply_price, sw_sell_price, sw_quantity, g.sg_no, p.u_no, g.sg_name, p.u_name from software s 
		join software_group g on s.sg_no = g.sg_no join `user` p on s.pc_no = p.u_no
	</sql>
	
	
	
	<!-- where -->
	<sql id="whereSql">
		<where>
			<if test="swNo != null">
				sw_no= #{swNo}
			</if>
		</where>
	</sql>
	
	<!-- software 등록 -->
	<sql id="insertSql">
		insert into software(sw_no,sg_no,sw_name,sw_supply_price,sw_sell_price,sw_quantity,pc_no) 
		values(#{swNo},#{swGroup.sgNo},#{swName},#{swSupplyPrice},#{swSellPrice},#{swQuantity},#{userNo.userNo})
	</sql>
	
	<!-- software 수정  -->
	<sql id="updateSql">
		update software set sg_no=#{swGroup.sgNo}, sw_name=#{swName}, sw_quantity=#{swQuantity}, sw_supply_price=#{swSupplyPrice}, sw_sell_price=#{swSellPrice}, pc_no=#{userNo.userNo}
	</sql>

	<!-- software 삭제 -->
	<sql id="deleteSql">
		delete from software
	</sql>

	
	
	
	
	<select id="selectSoftwareByNo" parameterType="Software" resultMap="SoftwarewithUserResult">
		<include refid="selectWithGroupwithUserSql"/>
		<include refid="whereSql"/>
	</select>
	
	<select id="selectSoftwareByAll" parameterType="Software" resultMap="SoftwareBasedResult">
		<include refid="selectWithGroupwithUserSql"/>
	</select>
	
	<insert id="insertSoftware" parameterType="Software">
		<selectKey resultType="integer" keyProperty="swNo" order="BEFORE">
			select max(sw_no)+1 from software;
		</selectKey>
		<include refid="insertSql" />
	</insert>
	
	<update id="updateSoftware" parameterType="Software">
		<include refid="updateSql"/>
		<include refid="whereSql"/>
	</update>
	
	<delete id="deleteSoftware" parameterType="Software">
		<include refid="deleteSql"/>
		<include refid="whereSql"/>
	</delete>
	

</mapper>