<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_3team.dao.SoftwareDao">
	<resultMap type="Software" id="SoftwareBasedResult">
		<id property="swNo" column="sw_no"/>
		<result property="swName" column="sw_name"/>
		<result property="swSupplyPrice" column="sw_supply_price"/>
		<result property="swSellPrice" column="sw_sell_price"/>
		<result property="swQuantity" column="sw_quantity"/>
		<result property="swCoverImg" column="sw_cover_img"/>
	</resultMap>
	
	<resultMap type="Software" id="SoftwarewithGroupResult" extends="SoftwareBasedResult">
		<result property="swGroup.sgNo" column="sg_no"/>
		<result property="swGroup.sgName" column="sg_name"/>
	</resultMap>
	
	<resultMap type="Software" id="SoftwarewithUserResult" extends="SoftwarewithGroupResult">
		<result property="userNo.userNo" column="pc_no"/>
		<result property="userNo.name" column="u_name" />
		<result property="userNo.userGroup" column="u_group" />
	</resultMap>
	
	<!-- software기본 정보 -->
	<sql id="selectSql">
		select sw_no,sg_no, sw_name, sw_supply_price, sw_sell_price, sw_quantity,pc_no from software
	</sql>
	
	<sql id="selectWithGroupwithUserSql">
		select sw_no, sw_name, sw_supply_price, sw_sell_price, sw_quantity, sw_cover_img,g.sg_no, s.pc_no, g.sg_name, p.u_name from software s 
		join software_group g on s.sg_no = g.sg_no join `user` p on s.pc_no = p.u_no
	</sql>
	
	
	
	<!-- where -->
	<sql id="whereSql">
		<where>
			<if test="swNo != null and swNo>0">
				sw_no=#{swNo}
			</if>
			
			<if test="userNo.userNo != null and userNo.userNo>0">
				AND p.u_no=#{userNo.userNo}
			</if>
			<if test="userNo.name != null">
				AND p.u_name=#{userNo.name}
			</if>
		</where>
	</sql>
	
	<sql id="whereNoSql">
		<where>
			<if test="swNo != null and swNo>0">
				sw_no=#{swNo}
			</if>
		</where>
	</sql>
	
	
	
	<sql id="wheredelUpSql">
		<where>
			<if test="swName != null">
				sw_name=#{swName}
			</if>
		</where>
	</sql>
	
	<sql id="whereBySearchSql">
		<where>
			<choose>
				<when test="searchBy == 'company'">
					p.u_name = #{searchText}
				</when>
				<when test="searchBy == 'swName'">
					s.sw_name = #{searchText}
				</when>
				<when test="searchBy == 'swGroup'">
					g.sg_name = #{searchText}
				</when>
			</choose>
		</where>
	</sql>
	
	
	<sql id="whereSwCustomer">
		<where>
			<if test="swGroup.sgName != null">
				g.sg_name=#{swGroup.sgName}
			</if>
			<if test="userNo.name != null">
				AND	p.u_name=#{userNo.name}
			</if>
			<if test="swName !=null and swName !=''">
				AND s.sw_name = #{swName}
			</if>
		</where>
	</sql>
	
	<!-- software 등록 -->
	<sql id="insertSql">
		insert into software(sw_no,sg_no,sw_name,sw_supply_price,sw_sell_price,sw_quantity,pc_no,sw_cover_img) 
		values(#{swNo},#{swGroup.sgNo},#{swName},#{swSupplyPrice},#{swSellPrice},#{swQuantity},#{userNo.userNo},#{swCoverImg})
	</sql>
	
	<!-- software 수정  -->
	<sql id="updateSql">
		update software set sg_no=#{swGroup.sgNo}, sw_name=#{swName}, sw_quantity=#{swQuantity}, sw_supply_price=#{swSupplyPrice}, sw_sell_price=#{swSellPrice}, pc_no=#{userNo.userNo},sw_cover_img=#{swCoverImg}
	</sql>

	<!-- software 삭제 -->
	<sql id="deleteSql">
		delete from software
	</sql>

	
	<!-- customerSearchSw -->
	<select id="selectSoftwareByNoCustomer" parameterType="Software" resultMap="SoftwarewithUserResult">
		<include refid="selectWithGroupwithUserSql"/>
		<include refid="whereSwCustomer"/>
	</select>
	
	<select id="selectSoftwareByNameCustomer" parameterType="Software" resultMap="SoftwarewithUserResult">
		<include refid="selectWithGroupwithUserSql"/>
		<include refid="wheredelUpSql"/>
	</select>
	
	
	<select id="selectSoftwareByNo" parameterType="Software" resultMap="SoftwarewithUserResult">
		<include refid="selectWithGroupwithUserSql"/>
		<include refid="whereNoSql"/>
	</select>
	
	<select id="selectSoftwareByAll" parameterType="Software" resultMap="SoftwarewithUserResult">
		<include refid="selectWithGroupwithUserSql"/>
	</select>
	
	<select id="selectSoftwareBySearch" parameterType="map" resultMap="SoftwarewithUserResult">
		<include refid="selectWithGroupwithUserSql"/>
		<include refid="whereBySearchSql"/>
	</select>
	
	<insert id="insertSoftware" parameterType="Software">
		<selectKey resultType="integer" keyProperty="swNo" order="BEFORE">
			select max(sw_no)+1 from software;
		</selectKey>
		<include refid="insertSql" />
	</insert>
	
	<update id="updateSoftware" parameterType="Software">
		<include refid="updateSql"/>
		<include refid="whereNoSql"/>
	</update>
	
	<delete id="deleteSoftware" parameterType="Software">
		<include refid="deleteSql"/>
		<include refid="wheredelUpSql"/>
	</delete>
	

</mapper>